ul {
    padding:0;
    margin:0;
    list-style-type: none;
}

li {
    position:relative;
    margin-bottom: 15px;
}

li a:after {
    content:"";
    position:absolute;
    top:12%;
    right:0;
}

body {
	margin: 0;
	padding: 0;
}

h1{
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
	font-size:60px;
	padding-right: 25px;
}

a{
	text-decoration: none;
	color: white;
	padding-right: 15px;
}



.sel a:hover:after {
    width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-right: 10px solid #FFFFFF;
}

#github-projects{
	padding-left: 45px;
	/*padding-right: 25px;*/
	float: left;
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 22px;
	background-color: #4169E1;
	color: white;
	text-align:right;
}

#commits{
	background-color: white;
}